


<header>
    <h2><a href="#">Neethu</a><span>Pro</span></h2>
    <nav>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
    </nav>
</header>

<section class="banner-area">
    <div class="img-area"></div>
    <div class="banner-text">
        <h5>Welcome To My World</h5>
        <h1>Neethu <span>Nallat</span></h1>
        <h3>Creative Web Developer</h3>
        <a href="#" class="btn">Learn More</a>
    </div>

</section>

<section class="info-area">

    <h3 class="header-text">I am Neethu <span>Nallat</span></h3>
    <p>I am woking as a web developer for the last 5 years</p>
    <p class="info">A web developer is a programmer who develops World Wide Web applications using a client–server model. The applications typically use HTML, CSS, and JavaScript in the client, and any general-purpose programming language in the server. HTTP is used for communications between client and server.</p>
     

    <p class="socials">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
        
    </p>
</section>

<section class="service-area" id="services">

    <h3 class="header-text">Our <span>Services</span></h3>
    <p>I am woking as a web developer for the last 5 years as a web developer for</p>

    <div class="content-area">
        <div class="single-service">
            <div class="icon-area">
               <i class="fa fa-laptop"></i>
            </div>

            <h2>Web design</h2>
            <p>A web developer is a programmer who develops World Wide Web applications using a client–server model. The applications typically use HTML, CSS, and JavaScript in the</p>
        </div>

        <div class="single-service">
            <div class="icon-area">
               <i class="fa fa-cogs"></i>
            </div>

            <h2>Marketting</h2>
            <p>A web developer is a programmer who develops World Wide Web applications using a client–server model. The applications typically use HTML, CSS, and JavaScript in the</p>
        </div>

        <div class="single-service">
            <div class="icon-area">
               <i class="fa fa-camera"></i>
            </div>

            <h2>Photography</h2>
            <p>A web developer is a programmer who develops World Wide Web applications using a client–server model. The applications typically use HTML, CSS, and JavaScript in the</p>
        </div>
    </div>

</section>


<section class="work-area" id="work">

    <h3 class="header-text">Our<span>Works</span></h3>
    <p>I am woking as a web developer for the last 5 years</p>

    <ul class="content-area">
        <li>
            <img src="../../assets/img1.jpg" alt="">
        </li>
        <li>
            <img src="../../assets/img6.jpg" alt="">
        </li>
        <li>
            <img src="../../assets/img1.jpg" alt="">
        </li>
        <li>
            <img src="../../assets/img6.jpg" alt="">
        </li>
        <li>
            <img src="../../assets/img1.jpg" alt="">
        </li>
        <li>
            <img src="../../assets/img6.jpg" alt="">
        </li>
    </ul>
</section>

<section class="newsletter">
    <h3 class="header-text">Subscribe Us</h3>

    <form>
        <input type="email" placeholder="Enter Your Email Address.....">
        <a href="#" class="btn">Subscribe</a>
    </form>

</section>

<section class="contact" id="contact">

    <h3 class="header-text">Contact<span>Us</span></h3>
    <p>I am woking as a web developer for the last 5 years</p>

    <div class="contact-area">
        <div class="single-contact">
            <input type="text" placeholder="Enter Your Name....">
            <input type="email" placeholder="Enter Your Email....">
            <textarea name="" id="" cols="30" rows="3" placeholder="Enter Your Queries...."></textarea>
            <input type="submit" value="submit">

        </div>
    </div>


</section>

<footer>
    <p>All Right Reserved By <a href="#">Brand Name</a></p>

    <p class="social-2">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
    </p>
</footer>





    

